header	   	     {display:table;width:100%;position: relative;background: #262C30;z-index:95;margin:0 auto;}
header nav 	     {display:block;width:100%;border:1px solid;}
header h2            {display:block;width:100%;}
	    

