@media screen and (max-device-width:620px){
	header h2				{font-size: 3em;}	
	header nav ul li .font_helvetica   	{font-size: 2em;}
}

@media screen and (max-device-width:620px)  {
	header nav, header h2	     		{display:block;text-align:center;}
}




