
body			{font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857;color: #333;}
h1, h2, h3, h4, h5, h6 {
    			font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    			text-transform: uppercase;
    			font-weight: 700;
			}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default {
    background-color: #222;
    border-color: transparent;
}

.navbar-default .navbar-brand	{position:relative;}
.navbar-default .navbar-brand span, .navbar-default .navbar-brand img {display:inline-block;vertical-align:middle;position:absolute;}
.navbar-default .navbar-brand span {font-size:1.3em;color: #FED136;font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;margin-left:1.5em; width:12em;}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #FED136;border-color: #FED136;}
.navbar-default .navbar-collapse {border-color: rgba(255, 255, 255, 0.02);}
.navbar-default .nav li a {font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform: uppercase;font-weight: 400;letter-spacing: 1px;color: #FFF;}
.navbar-default .navbar-nav > .active > a {border-radius: 3px;color: #FFF;background-color: #FED136;}
.navbar-default .nav li a:hover,.text-primary,.navbar-default .navbar-brand:hover,footer ul.quicklinks a {color: #FED136;}
.navbar-default .navbar-nav > .active > a:hover	  {background:#FED136;color:#fff;}
footer ul.quicklinks a:hover		  {text-decoration:underline;}
#About_me img				  {margin: 0px auto;border: 7px solid #FFF;}
section					  {padding: 150px 0px;}
.bg-light-gray 				  {background-color: #F7F7F7;}
#member					  {margin-bottom: 50px;}
p.large 				  {font-size: 16px;}
.text-muted 				  {color: #777;}
.text					  {margin-top:0.75em;}
p.large 				  {font-size: 16px;}
section h2.section-heading 		  {font-size: 40px;margin-top: 0px;margin-bottom: 15px;line-height: 1.1;color: inherit;margin-bottom: 75px;}
.timeline 				  {list-style: outside none none;padding: 0px;position: relative;}
header 					  {background-image: url("../IMG/background.jpg");background-attachment: scroll;background-position: center center;background-size: cover;text-align: center;color: #FFF;}
header .intro-text 			  {padding-top: 100px;padding-bottom: 50px;}
.skills					  {padding:0.5em 0.15em 0.5em 0.15em;color:#fff;border-radius:5px;}
.blue					  {background-color: #337AB7;border-color: #2E6DA4;}
.green					  {background-color: #5CB85C;border-color: #4CAE4C;}
.azure					  {background-color: #5BC0DE;border-color: #46B8DA;}
.yellow					  {background-color: #F0AD4E;border-color: #EEA236;}
.red					  {background-color: #D9534F;border-color: #D43F3A;}
.btn-xl 				  {
    					    color: #FFF;
					    background-color: #FED136;
					    border-color: #FED136;
					    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
					    text-transform: uppercase;
					    font-weight: 700;
					    border-radius: 3px;
					    font-size: 18px;
					    padding: 20px 40px;
					  }
#Portfolio .portfolio-item .portfolio-link 	{
						display: block;
						position: relative;
						max-width: 400px;
						margin: 0px auto;
						}
#Portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    						background: rgba(254, 209, 54, 0.9) none repeat scroll 0% 0%;
    						position: absolute;
    						width: 100%;
    						height: 100%;
    						opacity: 1;
    						transition: all 0.5s ease 0s;
					  	}
#Portfolio .portfolio-item .portfolio-caption p {
    						font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    						font-style: italic;
    						font-size: 16px;
    						margin: 0px;
						}
#portfolio .portfolio-item .portfolio-caption h4 {
    						text-transform: none;
    						margin: 0px;
						}
#Portfolio .portfolio-item .portfolio-caption {
    						max-width: 400px;
    						margin: 0px auto;
    						background-color: #FFF;
    						text-align: center;
    						padding: 25px;
						}
#Portfolio .portfolio-item .portfolio-link .portfolio-hover:hover .portfolio-hover-content {
						display:block;
    						position: absolute;
    						width: 100%;
    						height: 20px;
    						font-size: 20px;
    						text-align: center;
    						top: 50%;
    						margin-top: -12px;
    						color: #FFF;
						}
#Portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    						display:none;
						}
#Portfolio * 				  {z-index: 2;}
a 					  {color: #FED136;}
a, a:hover, a:focus, a:active, a.active {
    outline: 0px none;
}
.timeline	{
		padding-left:0;
}
.timeline > li.timeline-inverted > .timeline-panel {
    		float: right;
    		text-align: left;
}

.timeline > li {
    		margin-bottom: 50px;
    		position: relative;
    		min-height: 50px;
}
.timeline > li .timeline-panel {
    		width: 100%;
		float: right;
		position: relative;
		text-align: left;
		margin-bottom:5em;
}
.timeline .timeline-heading h4 {
    		margin-bottom: 30px;
    		color: inherit;
}
.timeline .timeline-heading h4.subheading {
    		text-transform: none;
}
#Portfolio .portfolio-item {
    		margin: 0px 0px 15px;
    		right: 0px;
}

ul.social-buttons {
   	 	margin-bottom: 0px;
}
ul.social-buttons li a {
    		display: block;
    		background-color: #222;
    		height: 40px;
    		width: 40px;
    		border-radius: 100%;
    		font-size: 20px;
    		line-height: 40px;
    		color: #FFF;
    		outline: 0px none;
   	 	transition: all 0.3s ease 0s;
}
header .intro-text .intro-lead-in {
    		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    		font-style: italic;
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 25px;
}
header .intro-text .intro-heading {
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: uppercase;
    		font-weight: 700;
    		font-size: 50px;
    		line-height: 50px;
    		margin-bottom: 25px;
}
footer {
    		padding: 25px 0px;
    		text-align: center;
}
footer span.copyright {
    		line-height: 40px;
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: none;
}
footer ul.quicklinks {
    		margin-bottom: 0px;
    		line-height: 40px;
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: none;
}
ul.social-buttons li a:hover {
		background-color: #FED136;
		}
.timeline-body .slanguage {padding-bottom:2em;}
.portfolio-modal .modal-content {
    		border-radius: 0px;
    		background-clip: border-box;
	        box-shadow: none;
	    	border: 0px none;
	    	min-height: 100%;
	    	padding: 100px 0px;
	    	text-align: center;
}
.portfolio-modal .close-modal {
    		position: absolute;
    		width: 75px;
    		height: 75px;
    		background-color: transparent;
    		top: 25px;
    		right: 25px;
    		cursor: pointer;
}
.portfolio-modal .close-modal .lr {
		height: 75px;
		width: 1px;
		margin-left: 35px;
		background-color: #222;
		transform: rotate(45deg);
		z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
	        height: 75px;
	        width: 1px;
	        background-color: #222;
	        transform: rotate(90deg);
	        z-index: 1052;
}
.portfolio-modal .modal-content h2 {
    		margin-bottom: 15px;
    		font-size: 3em;
}
.portfolio-modal .modal-content p.item-intro {
	        margin: 20px 0px 30px;
	        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	        font-style: italic;
	        font-size: 16px;
}
.portfolio-modal .modal-content p {
    		margin-bottom: 30px;
}

.portfolio-modal .modal-body ul{
		text-align:left;
		margin-top:-1em;		
}

.portfolio-modal .modal-body img{
		margin-bottom:3em;		
}

.portfolio-modal .modal-body h3{
		margin-bottom:1em;margin-top:1em;
}

.portfolio-modal .modal-body ul li{
		margin-left:10%;		
}

.portfolio-modal .modal-content ul.list-inline {
    		margin-bottom: 30px;
    		margin-top: 5em;
}
.btn-primary {
    		color: #FFF;
    		background-color: #FED136;
    		border-color: #FED136;
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: uppercase;
    		font-weight: 700;
}

@media (min-width: 768px){
	
	#Portfolio .portfolio-item {
   		margin: 0px 0px 30px;
	}
	.navbar-default {
    		background-color: transparent;
    		padding: 25px 0px;
    		transition: padding 0.3s ease 0s;
    		border: 0px none;
	}
	header .intro-text {
    			padding-top: 300px;
    			padding-bottom: 200px;
	}
	header .intro-text .intro-lead-in  {
		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-style: italic;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	header .intro-text .intro-heading  {
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px;
	}
	
	.navbar-default.navbar-shrink {background-color: #222;padding: 10px 0px;}
}
@media (min-width:0px) and (max-width: 767px){
	#Curriculum .span {padding-top:0em;padding-bottom:1em;}

}

