
body			{font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857;color: #333;}
h1, h2, h3, h4, h5, h6 {
    			font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    			text-transform: uppercase;
    			font-weight: 700;
			}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default {
    background-color: #222;
    border-color: transparent;
}
.navbar-default .navbar-brand {font-size:2em;color: #FED136;font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #FED136;border-color: #FED136;}
.navbar-default .navbar-collapse {border-color: rgba(255, 255, 255, 0.02);}
.navbar-default .nav li a {font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform: uppercase;font-weight: 400;letter-spacing: 1px;color: #FFF;}
.navbar-default .navbar-nav > .active > a {border-radius: 3px;color: #FFF;background-color: #FED136;}
.navbar-default .nav li a:hover,.text-primary,.navbar-default .navbar-brand:hover,footer ul.quicklinks a {color: #FED136;}
.navbar-default .navbar-nav > .active > a:hover	  {background:#FED136;color:#fff;}
footer ul.quicklinks a:hover		  {text-decoration:underline;}
#About_me img				  {margin: 0px auto;border: 7px solid #FFF;}
section					  {padding: 150px 0px;}
.bg-light-gray 				  {background-color: #F7F7F7;}
#member					  {margin-bottom: 50px;}
p.large 				  {font-size: 16px;}
.text-muted 				  {color: #777;}
.text					  {margin-top:0.75em;}
p.large 				  {font-size: 16px;}
section h2.section-heading 		  {font-size: 40px;margin-top: 0px;margin-bottom: 15px;line-height: 1.1;color: inherit;margin-bottom: 75px;}
.timeline 				  {list-style: outside none none;padding: 0px;position: relative;}
header 					  {background-image: url("../IMG/background.jpg");background-attachment: scroll;background-position: center center;background-size: cover;text-align: center;color: #FFF;}
header .intro-text 			  {padding-top: 100px;padding-bottom: 50px;}
.skills					  {padding:0.5em 0.15em 0.5em 0.15em;color:#fff;border-radius:5px;}
.blue					  {background-color: #337AB7;border-color: #2E6DA4;}
.green					  {background-color: #5CB85C;border-color: #4CAE4C;}
.azure					  {background-color: #5BC0DE;border-color: #46B8DA;}
.yellow					  {background-color: #F0AD4E;border-color: #EEA236;}
.red					  {background-color: #D9534F;border-color: #D43F3A;}
.btn-xl 					  {
    					    color: #FFF;
					    background-color: #FED136;
					    border-color: #FED136;
					    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
					    text-transform: uppercase;
					    font-weight: 700;
					    border-radius: 3px;
					    font-size: 18px;
					    padding: 20px 40px;
					  }
#Portfolio .portfolio-item .portfolio-link 	{
						display: block;
						position: relative;
						max-width: 400px;
						margin: 0px auto;
						}
#Portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    						background: rgba(254, 209, 54, 0.9) none repeat scroll 0% 0%;
    						position: absolute;
    						width: 100%;
    						height: 100%;
    						opacity: 1;
    						transition: all 0.5s ease 0s;
					  	}
#Portfolio .portfolio-item .portfolio-caption p {
    						font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    						font-style: italic;
    						font-size: 16px;
    						margin: 0px;
						}
#portfolio .portfolio-item .portfolio-caption h4 {
    						text-transform: none;
    						margin: 0px;
						}
#Portfolio .portfolio-item .portfolio-caption {
    						max-width: 400px;
    						margin: 0px auto;
    						background-color: #FFF;
    						text-align: center;
    						padding: 25px;
						}
#Portfolio .portfolio-item .portfolio-link .portfolio-hover:hover .portfolio-hover-content {
						display:block;
    						position: absolute;
    						width: 100%;
    						height: 20px;
    						font-size: 20px;
    						text-align: center;
    						top: 50%;
    						margin-top: -12px;
    						color: #FFF;
						}
#Portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    						display:none;
						}
#Portfolio * 				  {z-index: 2;}
a 					  {color: #FED136;}
a, a:hover, a:focus, a:active, a.active {
    outline: 0px none;
}
.timeline	{
		padding-left:0;
}
.timeline > li.timeline-inverted > .timeline-panel {
    		float: right;
    		text-align: left;
}

.timeline > li {
    		margin-bottom: 50px;
    		position: relative;
    		min-height: 50px;
}
.timeline > li .timeline-panel {
    		width: 100%;
		float: right;
		position: relative;
		text-align: left;
		margin-bottom:5em;
}
.timeline .timeline-heading h4 {
    		margin-bottom: 30px;
    		color: inherit;
}
.timeline .timeline-heading h4.subheading {
    		text-transform: none;
}
#Portfolio .portfolio-item {
    		margin: 0px 0px 15px;
    		right: 0px;
}

ul.social-buttons {
   	 	margin-bottom: 0px;
}
ul.social-buttons li a {
    		display: block;
    		background-color: #222;
    		height: 40px;
    		width: 40px;
    		border-radius: 100%;
    		font-size: 20px;
    		line-height: 40px;
    		color: #FFF;
    		outline: 0px none;
   	 	transition: all 0.3s ease 0s;
}
header .intro-text .intro-lead-in {
    		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    		font-style: italic;
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 25px;
}
header .intro-text .intro-heading {
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: uppercase;
    		font-weight: 700;
    		font-size: 50px;
    		line-height: 50px;
    		margin-bottom: 25px;
}
footer {
    		padding: 25px 0px;
    		text-align: center;
}
footer span.copyright {
    		line-height: 40px;
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: none;
}
footer ul.quicklinks {
    		margin-bottom: 0px;
    		line-height: 40px;
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: none;
}
ul.social-buttons li a:hover {
		background-color: #FED136;
		}
.timeline-body .slanguage {padding-bottom:2em;}
.portfolio-modal .modal-content {
    		border-radius: 0px;
    		background-clip: border-box;
	        box-shadow: none;
	    	border: 0px none;
	    	min-height: 100%;
	    	padding: 100px 0px;
	    	text-align: center;
}
.portfolio-modal .close-modal {
    		position: absolute;
    		width: 75px;
    		height: 75px;
    		background-color: transparent;
    		top: 25px;
    		right: 25px;
    		cursor: pointer;
}
.portfolio-modal .close-modal .lr {
		height: 75px;
		width: 1px;
		margin-left: 35px;
		background-color: #222;
		transform: rotate(45deg);
		z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
	        height: 75px;
	        width: 1px;
	        background-color: #222;
	        transform: rotate(90deg);
	        z-index: 1052;
}
.portfolio-modal .modal-content h2 {
    		margin-bottom: 15px;
    		font-size: 3em;
}
.portfolio-modal .modal-content p.item-intro {
	        margin: 20px 0px 30px;
	        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	        font-style: italic;
	        font-size: 16px;
}
.portfolio-modal .modal-content p {
    		margin-bottom: 30px;
}

.portfolio-modal .modal-body ul{
		text-align:left;
		margin-top:-1em;		
}

.portfolio-modal .modal-body img{
		margin-bottom:3em;		
}

.portfolio-modal .modal-body h3{
		margin-bottom:1em;margin-top:1em;
}

.portfolio-modal .modal-body ul li{
		margin-left:10%;		
}

.portfolio-modal .modal-content ul.list-inline {
    		margin-bottom: 30px;
    		margin-top: 5em;
}
.btn-primary {
    		color: #FFF;
    		background-color: #FED136;
    		border-color: #FED136;
    		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    		text-transform: uppercase;
    		font-weight: 700;
}

@media (min-width: 768px){
	
	#Portfolio .portfolio-item {
   		margin: 0px 0px 30px;
	}
	.navbar-default {
    		background-color: transparent;
    		padding: 25px 0px;
    		transition: padding 0.3s ease 0s;
    		border: 0px none;
	}
	header .intro-text {
    			padding-top: 300px;
    			padding-bottom: 200px;
	}
	header .intro-text .intro-lead-in  {
		font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-style: italic;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	header .intro-text .intro-heading  {
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px;
	}
	
	.navbar-default.navbar-shrink {background-color: #222;padding: 10px 0px;}
}
@media (min-width:0px) and (max-width: 767px){
	#Curriculum .span {padding-top:0em;padding-bottom:1em;}

}
/*		     {outline:none;}
body 	   	     {background: #262C30;margin:0;}
header	   	     {display:table;width:100%;position: relative;background: #262C30;z-index:95;margin:0 auto;}
header nav,header h2 {display: table-cell;vertical-align:middle;}
header h2      	     {padding-bottom:20px;}
h2		     {font: 2em 'Lobster', Comic Sans MS, cursive;color:#fff;padding-left:5px;}
h5		     {font: 1.25em 'Lobster', Comic Sans MS, cursive;color:#fff;}
h3		     {font-family:'open_sansregular','Segoe UI',sans-serif;font-size:1.5em;font-weight:500;}
#h3_green	     {color:#3EAF88;}
#h3_blue	     {color:#2980B9;}
h4		     {font: 1.5em 'Lobster', Comic Sans MS, cursive;color:#fff;text-align:center;}
header nav 	     {text-align:right;}
header nav ul li     {display:inline-block;margin-left:2.5%;margin-right:2%;}
header nav ul li a   {text-decoration:none;outline: 0;}
.font_helvetica {color:#fff;font-size: 1em;font-family: "Helvetica Neue",Helvetica,Arial;font-weight: bold;opacity: 0.6;}
header nav ul li a:hover,header nav ul li .active {color:#fff;opacity: 1;}
header nav ul li a img {display:none;}

.active img 	       {display:block;margin:0 auto;}
.section	       {position:relative;z-index: 10;}
.About_me p	       {width:70%;margin:0 auto;background:black;text-align:center;padding:20px;border-radius:5px;border:1px solid #ccc;}
.Curriculum #ul_curriculum,.Progetti     {width:70%;margin:0 auto;background:rgba(0, 0, 0, 0.6);padding:20px;border-radius:5px;border:1px solid #ccc;}
.Curriculum ul .linea  {display:block;border:1px solid #262C30;margin-bottom:10px;margin-top:10px;}
.Curriculum ul li      {display:inline-block;vertical-align:middle;}
.Curriculum ul .c_tit  {width:39%;text-align:center;}
.Curriculum ul .c_desc {width:60%;}
.Curriculum ul .c_desc .anno, #Curriculum ul .c_desc .desc_anno{display:inline-block;}
.Curriculum ul .c_desc .anno{width:25%;}
.Curriculum ul .c_desc .desc_anno{width:74%;}
.Curriculum ul .c_desc ul 	       {margin-bottom:1%;display:table;width:100%;padding:0;}
.Curriculum ul .c_desc ul .skills      {color:#262C30;padding-left:5px;border-top-left-radius:20px;border-bottom-left-radius:20px;}
.Curriculum ul .c_desc .c_cplusplus,.Curriculum ul .c_desc .c_java,.Curriculum ul .c_desc .c_javascript,.Curriculum ul .c_desc .c_html,.Curriculum ul .c_desc .c_XML,.Curriculum ul .c_desc .c_php       {border:2px solid #ccc;border-radius:20px;}
.Curriculum ul .c_desc .c_cplusplus li {display:table-cell;background-color:#25AAE1;width:20%;}
.Curriculum ul .c_desc .c_java li      {display:table-cell;background-color:#00FF33;width:16%;}
.Curriculum ul .c_desc .c_javascript li{display:table-cell;background-color:#FFFF00;width:30%;}
.Curriculum ul .c_desc .c_html li      {display:table-cell;background-color:#FF0000;width:16%;}
.Curriculum ul .c_desc .c_php li       {display:table-cell;background-color:#FFFF00;width:16%;}
.Curriculum ul .c_desc .c_XML li       {display:table-cell;background-color:#FF0000;width:20%;}
.Curriculum ul .c_desc ul .c_per       {background-color:#262C30;text-align:center;width:20%;border-top-right-radius:20px;border-bottom-right-radius:20px;}
.Curriculum ul .c_desc ul .c_trasp     {background-color:#262C30;}
.Curriculum ul .c_desc ul .c_w	       {width:20%;} 
.Portfolio img			       {display:block;margin:0 auto;}
.Contatti form			       {text-align:center;}	
.Contatti form ul 		       {list-style-type:none;display:inline-block;padding:0;}
.Contatti form ul .mail		       {margin-right:10px;margin-left:10px;}
.Contatti form ul input		       {margin-bottom:10px;border-radius: 0.35em;padding:15px;border:none;background:#CCC;font-family: 'Lobster', Comic Sans MS, cursive;font-weight: 400;font-size: 13pt;color: #919499;transition: all 0.25s ease-in-out 0s;}
.Contatti form ul input:focus,.Contatti form ul textarea:focus          {transition: all 0.55s ease-in-out 0s;background:white;}
.Contatti form ul .width20:hover 	{transition: all 0.55s ease-in-out 0s;cursor:pointer;}
.Contatti form ul .send		       {margin-right:10px;background:#3EAF88;color:white;}
.Contatti form ul .send:hover	       {background:#38E2BD;}
.Contatti form ul .reset	       {background:transparent;border:1px solid;box-sizing: border-box;}
.Contatti form ul .reset:hover	       {border-color:white;color:white;}
.Contatti form ul .width20	       {width:20%;margin-top:10px;font-family: "Helvetica Neue",Helvetica,Arial;}
.Contatti form textarea		       {width:96%;height:250px;background:#CCC;border-radius: 0.35em;border:none;padding:15px;font-family: 'Lobster', Comic Sans MS, cursive;font-weight: 400;font-size: 13pt;color: #919499;resize:none;}	
.Contatti form ul .place_color::-webkit-input-placeholder{color: red;}
.Contatti form ul .place_color::-moz-placeholder {color:red;}
.Contatti form ul .place_color:-moz-placeholder {color:red;}
.Contatti form ul .place_color:-ms-input-placeholder {color:red;}


footer	    				{background:white;border-radius:5px;margin:0;}
footer ul   				{list-style-type:none;padding-top:15px;padding-bottom:15px;}
footer ul li				{text-align:center;}
footer ul li #link_fb #fb_hover,footer ul li #link_is #is_hover,footer ul li #link_google #google_hover,footer ul li #link_twitter #twitter_hover,footer ul li #link_is:hover #is,footer ul li #link_fb:hover #fb,footer ul li #link_google:hover #google,footer ul li #link_twitter:hover #twitter {display:none;}
footer ul li #link_fb:hover #fb_hover,footer ul li #link_is:hover #is_hover,footer ul li #link_google:hover #google_hover,footer ul li #link_twitter:hover #twitter_hover	{display:inline;outline:none;}
footer ul li .soc			{margin-left:5px;}
footer p    				{font-size:11pt;color:#3EAF88;font-family: "Helvetica Neue",Helvetica,Arial;}*/
